footer {
    float: left;
    width: 100%;
    background-color: #535e63;
    color: white;
    padding: 20px;
  }
  
  footer a {
    color: white;
  }
  
  footer a:hover {
    text-decoration: none;
    color: white;
  }