<footer id="footer" class="p-2">
    <div class="row">  
        <div class="follow col-md-3">
            <div class="mr-2" style="display: inline-flex;"><strong>FOLLOW US</strong></div>
            <a class="mr-1" href="https://www.facebook.com/revature/"><em class="fab fa-facebook"></em></a>
            <a class="mr-1" href="https://twitter.com/WeAreRevature"><em class="fab fa-twitter"></em></a>
            <a class="mr-1" href="https://www.linkedin.com/company/revature"><em class="fab fa-linkedin"></em></a>
            <a class="mr-1" href="https://www.instagram.com/teamrevature/"><em class="fab fa-instagram"></em></a>
            <a class="mr-1" href="https://www.youtube.com/channel/UCGBKIv2WIS2utCQwJFqYFAg/videos"><em class="fab fa-youtube"></em></a>
            <a class="mr-1" href="https://www.tiktok.com/@revature"><em class="fab fa-tiktok"></em></a>
        </div>
        <div class="address col-md-6" style="font-size: medium;">
            <div class="m-0 text-center">
                <a class="mr-2" style="display: inline-flex;" href="https://revature.com/contact-us/"><strong>CONTACT US</strong></a>
                <a class="mr-2" href="mailto:info@revature.com">info@revature.com</a>
                <a class="mr-2" href="tel:703-570-8181">P: (703) 570-8181</a>
                <a href="tel:703-995-4500">F: (703) 995-4500</a>
            </div>
        </div>
        <div class="copy col-md-3">
            <p id="copy-right" class="text-right p-0 m-0">&copy; Revature Housing 2019</p>
        </div>
    </div>
</footer>
