<div class="add-room-container" *ngIf="complexControl">
  <h3 class="add-room-header">Add a Room to {{complexControl.complexName}}</h3>
  <div class="add-room-options">
    <mat-horizontal-stepper>
        <mat-step label="Room Number">
          <div>
            Please enter the room number
          </div>
          <mat-form-field appearance="legacy">
            <mat-label>Room Number</mat-label>
            <input matInput type="text" id="roomNumber" name="roomNumber" #roomNumber="ngModel" [(ngModel)]="formRoom.roomNumber" placeholder="Room Number" required>
            <div *ngIf="roomNumber.invalid && roomNumber.dirty" class="alert alert-danger">
              A Room Number is Required
            </div>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step label="Occupancy">
          <div>
            Please enter the occupancy
          </div>
          <mat-form-field appearance="legacy">
            <mat-label>Total Occupancy</mat-label>
            <input matInput type="number" id="numberOfBeds" name="numberOfBeds" #numberOfBeds="ngModel" [(ngModel)]="formRoom.numberOfBeds" class="form-control" required>
            <div *ngIf="numberOfBeds.invalid && numberOfBeds.dirty" class="alert alert-danger">
              Total Occupancy is Required
            </div>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step label="Room Type">
          <div>
            Please select the type of room
          </div>
          <mat-form-field appearance="legacy">
            <mat-label>Room Type</mat-label>
            <mat-select>
              <mat-option *ngFor="let roomType of roomTypes" ngValue="roomType">
                {{ roomType.roomType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step label="Add Amenities">
          <div>
            Please add any amenities
          </div>
          <mat-form-field appearance="legacy">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let amenity of amenityList" [selectable]="selectable" [removable]="removable" (removed)="remove(amenity)">
                {{amenity.amenity}}
              </mat-chip>
              <input placeholder="New Amenity..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
