<div class="add-room-container">
  <h3 class="add-room-header">Add a Room to the Complex</h3>
  <div class="add-room-options">
    <mat-horizontal-stepper id="btn">
        <mat-step label="Room Number">
          <div>
            Please enter the room number
          </div>
          <mat-form-field class="col-md-12">
            <mat-label>Room Number</mat-label>
            <input matInput type="text" id="roomNumber" name="roomNumber" #roomNumber="ngModel" [(ngModel)]="formRoom.roomNumber" placeholder="Room Number" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step label="Occupancy">
          <div>
            Please enter the occupancy
          </div>
          <mat-form-field class="col-md-12">
            <mat-label>Total Occupancy</mat-label>
            <input matInput type="number" id="numberOfBeds" name="numberOfBeds" #numberOfBeds="ngModel" [(ngModel)]="formRoom.numberOfBeds" class="form-control" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step label="Room Type">
          <div>
            Please select the type of room
          </div>
          <mat-form-field class="col-md-12">
            <mat-label>Room Type</mat-label>
            <mat-select [(ngModel)]="formRoom.apiRoomType">
              <mat-option *ngFor="let roomType of seededType" [value]="roomType.roomType">
                {{ roomType.roomType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step label="Add Amenities">
          <div>
            Please add any amenities
          </div>
          <div>
            <input placeholder="New Amenity..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            <a mat-button (matChipInputTokenEnd)="add($event)" class="btn-addAmenity">
              <em class="fas fa-plus-circle"></em>
            </a>
          </div>
          <mat-form-field class="col-md-12">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let amenity of amenityList" id="rev-chip" [selectable]="selectable" [removable]="removable" (removed)="remove(amenity)">
                {{amenity.amenityType}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button id="cancel" (click)="cancelAddRoom()">Cancel</button>
            <button mat-button id="postAddRoom" (click)="postAddRoom()">Submit</button>
          </div>
        </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
