.add-room-btn {
  background-color: grey;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  color: black;
  opacity: 0.7;
}

#rev-chip{
  background-color:lightgrey;
  font-weight: 700;
}

#btn button{
  text-decoration-line: solid #fb752c;
  text-decoration-color: #fb752c;
  background-color: #fb752c;
  color: #ffffff;

  border-color: #f26925;
  border-radius: 25px;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;

  margin-left: 10px;
}

#btn button:hover {
  text-decoration-line: solid #ffffff;
  text-decoration-color: #ffffff;
  background-color: #ffffff;
  color: #fb752c;

  border-color: #f26925;
  border-width: 2px;
  border-style: solid;
  padding: 13px;
}

.btn-addAmenity{
  font-size: 1em;
  color: #fb752c;
  padding: none;
  border-radius: none;
  border-color: none;
  background-color:transparent;
}

.btn-addAmenity:hover{
  font-size: 1.5em;
  background-color: transparent;
  border-color: none;
  border-width: none;
  border-style: none;
  padding: none;
  }
