<div class="sticky-top">
  <div class="nav-bar">
    <mat-toolbar color=#ffffff>
      <!-- revature logo in top left -->
      <button revature>
        <img routerLink="https://revature.com/" alt="logo" src="/assets/imgs/revature-logo-600x219.png" height="55px">
      </button>

      <!-- ride-side justification, added through nav css -->
      <span class="menu-space"></span>

      <!-- links from toolbar -->
      <div>
        <a mat-button routerLink="">Home</a>

        <!-- if a limited provider is signed in -->
        <a mat-button *ngIf="auth.loggedIn && role !== 'coordinator'"><a routerLink="provider-status">Status</a></a>
        <a mat-button *ngIf="auth.loggedIn && role !== 'coordinator'"><a routerLink="edit-provider">Profile</a></a>

        <!-- if a full access provider is signed in -->
        <a mat-button *ngIf="auth.loggedIn && role !== 'coordinator'"><a routerLink="manage-complex">Manage Complexes</a></a>

        <!-- if a coordinator is signed in -->
        <a mat-button *ngIf="auth.loggedIn && role === 'coordinator'"><a routerLink="coordinator-notifications">Notifications</a></a>
        <a mat-button *ngIf="auth.loggedIn && role === 'coordinator'"><a routerLink="add-tenant">Add Tenant</a></a>
        <a mat-button *ngIf="auth.loggedIn && role === 'coordinator'"><a routerLink="search-tenant">Search Tenants</a></a>

        <!-- everyon can view this -->

        <a mat-button href="https://revature.com/our-story/" target="_blank" rel="noopener noreferrer">About Us</a>

        <!-- login/logout -->
        <a mat-flat-button color=orange *ngIf="!auth.loggedIn"><a (click)="auth.login()">Login</a></a>
        <a mat-flat-button color=orange *ngIf="auth.loggedIn"><a (click)="auth.logout()">Logout</a></a>
      </div>
    </mat-toolbar>
  </div>
</div>