.menu-spacer{
  flex: 1 1 auto;
}

.nav-bar {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  opacity: 0.9;
  z-index: 10;
  border-bottom: 1px solid gray;
}

#revature {
  margin-left: 20px;
}

#logout {
  text-decoration-line: solid #fb752c;
  text-decoration-color: #fb752c;
  background-color: #fb752c;
  color: #ffffff;

  border-color: #f26925;
  border-radius: 25px;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}

#logging a:hover{
  text-decoration-line: solid #ffffff;
  text-decoration-color: #ffffff;
  background-color: #ffffff;
  color: #fb752c;

  border-color: #f26925;
  border-width: 2px;
  border-style: solid;
  padding: 13px;
}

#login {
  text-decoration-line: solid #fb752c;
  text-decoration-color: #fb752c;
  background-color: #fb752c;
  color: #ffffff;

  border-color: #f26925;
  border-radius: 25px;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}

#menupiece a {
  text-decoration-line: none;
  text-decoration-color: #fb752c 2px;

  margin-right: 10px;
  border-radius: 25px;
  padding: 15px;
  font-size: 13px;
  font-weight: 700;
}

#menupiece a:hover {
  text-decoration-line: solid #ffffff;
  text-decoration-color: #ffffff;
  background-color: #ffffff;
  color: #fb752c;

  border-color: #f26925;
  border-width: 2px;
  border-style: solid;
  padding: 14px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}
