<div>
  <div class="nav-bar">
    <mat-toolbar color=#ffffff>
      <!-- revature logo in top left -->
      <button id="revature">
        <img routerLink="" alt="logo" src="/assets/imgs/revature-logo-600x219.png" height="55px">
      </button>

      <!-- ride-side justification, added through nav css -->
      <span class="menu-spacer"></span>

      <!-- links from toolbar -->
      <div id="menupiece" class="menu">

        <a mat-button routerLink="">Home</a>
        <a mat-button *ngIf="isAuthenticated" routerLink="dashboard">Dashboard</a>

        <a mat-button href="https://revature.com/our-story/" target="_blank" rel="noopener noreferrer">About Us</a>

      </div>
      
      <div id="logging">
        <a mat-flat-button id="login" *ngIf="!isAuthenticated" (click)="oktaAuth.loginRedirect('/')">Login</a>
        <a mat-flat-button id="logout" *ngIf="isAuthenticated" (click)="oktaAuth.logout('/')">Logout</a>
      </div>
    </mat-toolbar>
  </div>
</div>