<body>

  <div class="login-outer">
    <div class="login-inner">
      <h2>Your Room Details</h2>

     
      <!--Room in building:  <div *ngIf= "room.apiAddress" >{{room.apiAddress | json}}</div> -->
      <b>Room number:</b> {{currentRoom.roomNumber}}<br>
      <b># of beds in room:</b> {{currentRoom.numberOfBeds}}<br>
      <div *ngIf="room.apiRoomType"><b>Room type:</b> {{currentRoom.apiRoomType.roomType}}</div>
      <b>Number of occupants:</b> {{room.numberOfOccupants}}<br>
      <div *ngIf="room.gender"><b>Gender:</b> {{room.gender.genderType}}</div><br>
      <b>The amenities of this room include:</b> <ul class="list-group">
        <li *ngFor='let aa of room.amenities' class="list-group-item">
          {{aa.amenity}}
        </li>
      </ul>
      <br>
      <b>Current lease began:</b> {{room.leaseStart}}<br>
      <b>Current lease ends:</b> {{room.leaseEnd}}<br>
      <br>
    </div>
  </div>
</body>
