//INCOMPLETE - PS: REFACTORING TEMPORARILY IN ADD.COMPONENT.HTML/CSS
.horizontal-center
{
    justify-content:center;
}

.vertical-center 
{
    //min-height: 100vh;
    display: flex;
    align-items: center;
}

.error-message
{
    font-size:0.8em;
    color:red;
}

.margin-right
{
    margin-right:4px;
}