.horizontal-center
{
    justify-content:center;
}

.vertical-center 
{
    //min-height:100vh;
    display: flex;
    align-items: center;
}

.image
{
    width:50%;
    margin:auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//IN PREP FOR RESPONSIVE DESIGN
@media screen and (max-width: 1169px)
{
}

@media screen and (max-width: 590px)
{
}

@media only screen 
and (min-device-width:320px)
and (max-device-width:480px)
{
    //mobile width
}

@media only screen 
and (min-device-width:768px)
and (max-device-width:1024px)
{
    //iPad width
}