<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper class="text-center"  [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Add Complex Details</ng-template>
      <mat-form-field class="col-md-12">
        <input matInput 
          placeholder="Complex Name"
          formControlName="firstCtrl" 
          required 
          name="formLivingComplex.complexName" 
          [(ngModel)]="formLivingComplex.complexName"
        >
      </mat-form-field>
      <mat-form-field class="col-md-12">
        <input matInput 
          placeholder="Street Address" 
          formControlName="firstCtrl" 
          required
          name="formLivingComplex.apiAddress.streetAddress"
          [(ngModel)]="formLivingComplex.apiAddress.streetAddress"
          id="streetAddress">
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <input matInput 
          placeholder="City" 
          formControlName="firstCtrl" 
          required
          name="formLivingComplex.apiAddress.city"
          [(ngModel)]="formLivingComplex.apiAddress.city" >
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <input matInput 
          placeholder="State" 
          formControlName="firstCtrl" 
          required
          name="formLivingComplex.apiAddress.state"
          [(ngModel)]="formLivingComplex.apiAddress.state">
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <input matInput 
          placeholder="ZipCode" 
          formControlName="firstCtrl" 
          required
          name="formLivingComplex.apiAddress.zipCode"
          pattern="[0-9]{5}" 
          [(ngModel)]="formLivingComplex.apiAddress.zipcode">
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput 
          placeholder="Phone Number" 
          formControlName="firstCtrl" 
          required
          pattern="^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$" name="formLivingComplex.complexNumber"
          [(ngModel)]="formLivingComplex.contactNumber">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Add Complex Amenties</ng-template>
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Add New Amenity..." 
          [matChipInputFor]="chipList" 
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
          [matChipInputAddOnBlur]="addOnBlur" 
          (matChipInputTokenEnd)="add($event)">
        </mat-form-field>
        <a (matChipInputTokenEnd)="add($event)" id="btn-addAmenity">
          <i class="fas fa-plus-circle"></i>
        </a>
        <mat-form-field class="col-md-12 amenityInputList" >
          <input matInput placeholder="Amenity List" disabled>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let amenity of amenityList" 
              [selectable]="selectable" 
              [removable]="removable" 
              (removed)="remove(amenity)"
              id="rev-chip">
              {{amenity.amenity}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>
        <!-- <button  mat-button (click)="add($event)"><i class="fas fa-plus"></i> Add Amenity</button> -->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <p>You've Completed the First Steps in Adding the Complex</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button id="postLivingComplex" (click)="postLivingComplex()" >Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
