table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
  text-align: left;
}

.d-flex{
  margin: 5%;
}

.main-hr {
  height: 1px;
  background-color: black;
}

.show-room-btn {
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  opacity: 0.7;
  justify-self: center;
  height: min-content;
  margin: 1%;
}

mat-chip {
  transition: none !important;
}
