<!-- When a room is selected this will display the rooms information -->
<div class="show-room-container" *ngIf="complexControl" else errorblock>
  <h3 class="show-room-header">{{ complexControl.complexName }}</h3>
  <h5>Room {{ targetRoom.roomNumber }}</h5>
  <hr class="main-hr" />
  <div class="details">
      <table>
        <tr>
        <td><strong>Number of beds: </strong></td>
        <td>{{ targetRoom.numberOfBeds }}</td>
        </tr>
        <tr>
        <td><div><strong>Gender: </strong></div></td>
        <td>{{ targetRoom.gender.genderType }}</td>
        </tr>
        <tr>
        <td><div><strong>Has Occupants: </strong></div></td>
        <td>{{ targetRoom.isOccupied }}</td>
        </tr>
      </table>
  </div>
  <div class="d-flex flex-column">
    <div class="center"><strong>Amenities: </strong></div>
    <div>
      <hr class="p-0 m-1" />
      <mat-chip-list>
        <mat-chip *ngFor="let amenity of targetRoom?.apiAmenity" color="primary" selected>
          <strong>{{ amenity.amenity }}</strong>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <hr />
  <!-- <button (click)="show=!show">Click me to reveal or hide the input area</button>
  <br><br><br>
  <div *ngIf="show" @show>
    <label>User Name</label>
    <input type="text">
  </div> -->
</div>
<div>
    <button class="show-room-btn" (click)="handleBackButton()" id = "back-button">
      <strong>
        &lt; Go back
      </strong>
    </button>
</div>
<!-- Alternate view if a complex is not selected and this page is
shown -->
<ng-template #errorblock>
  You've reached this by mistake, try again.
</ng-template>
