table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
  text-align: left;
}

.d-flex{
  margin: 5%;
}

.main-hr {
  height: 1px;
  background-color: black;
}


mat-card-actions button {
  text-decoration-line: solid #fb752c;
  text-decoration-color: #fb752c;
  background-color: #fb752c;
  color: #ffffff;

  border-color: #f26925;
  border-radius: 25px;
  text-align: center;
  padding: 15px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}

mat-card-actions button:hover {
  text-decoration-line: solid #ffffff;
  text-decoration-color: #ffffff;
  background-color: #ffffff;
  color: #fb752c;

  border-color: #f26925;
  border-width: 2px;
  border-style: solid;
  padding: 13px;
}

#rev-chip {
  transition: none !important;
  background-color:lightgrey;
  // color: #ffffff;
  font-weight: 700;
}

//IN PREP FOR RESPONSIVE DESIGN
@media screen and (max-width: 1169px)
{
}

@media screen and (max-width: 590px)
{
}

@media only screen 
and (min-device-width:320px)
and (max-device-width:480px)
{
    //mobile width
}

@media only screen 
and (min-device-width:768px)
and (max-device-width:1024px)
{
    //iPad width
}