<!-- Used for the split screen -->
<div class="d-md-flex align-items-center">
    <!-- Left side of the split screen -->
    <div class="col-md-2 p-0 bg-orange"  style="height: 74vh;">
        <div class="row text-white d-md-flex align-items-start w-100 text-center justify-content-center p-3 m-0">
            <div id="provider-name">
                <h3>Provider Name</h3>
            </div>
        </div>
        <div class="row w-100 p-3 m-0 text-black justify-content-center"> 
            <div id="current-complexes">
                <h3 class="text-center text-white">Complexes</h3>
                <ul>
                    <li *ngFor="let complex of seededComplexes" [value]="complex">
                        <div class="p-2 m-2 text-center" style="border: solid black 1px; border-radius: 10px;">
                            <p class="m-0 p-0">{{complex.complexName}}</p>
                        </div>
                    </li>
                </ul>
            </div>  
        </div>
    </div>
    <!-- The right side of the page -->
    <div class="col-md-10 p-0 bg-body"  style="height: 74vh;">
        <div class="d-md-flex align-items-center justify-content-center h-md-100 p-5">
        <!--
            Base div:
            manage-complex is a multi-component single page app that renders a new component's view depending on certain factors
                => a complex must be selected
                => each component is rendered upon the 'mode' selected
                ex. show details, add a room, edit a room, edit a complex, and add a complex
        -->

        <div class="div-drawer d-md-flex text-center justify-content-center">
            <!--First div that shows on page-->
            <div id="welcome-directions" *ngIf="mode=='init'" class="">
            <h2>Please select a complex from the menu</h2>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Add New Complex</mat-label>
                <input matInput (ngModel)="complex.complexName" placeholder="Name Of Complex">
            </mat-form-field>
            <button class="" (click)="changeMode('add-complex')"
                style="padding: 8px 16px 8px 16px; border: solid black 1px;">+</button>
            <!-- <h2><a class="add-complex-highlight" (click)="changeMode('add-complex')">add another now</a></h2> -->
            </div>

            <!--Once a complex is selected, replace former div to show complex details-->
            <dev-complex-details *ngIf="complexControl.value && mode=='details'" [complexControl]="complexControl.value"
            (targetRoomOutput)="changeTargetRoom($event)" (modeOutput)="changeMode($event)"></dev-complex-details>

            <!--If provider chooses to add a room, replace former div to show room form-->
            <dev-add-room *ngIf="complexControl.value && mode=='add-room'" [complexControl]="complexControl.value"
            (modeOutput)="changeMode($event)"></dev-add-room>

            <!--If provider chooses to edit a specific room, replace former div to show form to edit the room-->
            <dev-edit-room *ngIf="complexControl.value && mode=='edit-room'" [targetRoom]="targetRoom"
            [complexControl]="complexControl.value" (modeOutput)="changeMode($event)"></dev-edit-room>

            <!--If provider chooses to show details of a specific room, replace former div to show view to details of the room-->
            <dev-show-room *ngIf="complexControl.value && mode=='show-room'" [targetRoom]="targetRoom"
            [complexControl]="complexControl.value" (modeOutput)="changeMode($event)"></dev-show-room>

            <!--If provider chooses to edit the complex, replace former div to show form to edit the complex-->
            <dev-edit-complex *ngIf="complexControl.value && mode=='edit-complex'" [targetComplex]="complexControl.value"
            (modeOutput)="changeMode($event)"></dev-edit-complex>

            <!--If provider chooses to add a complex, replace former div to show form to add a complex-->
            <dev-add-complex *ngIf="mode=='add-complex'" (modeOutput)="changeMode($event)"></dev-add-complex>
        </div>
        </div>
    </div>
</div>
