.drawer {
    width: auto;
    height: 100%;
    margin: 10px;
    border: 1px solid #555;
    padding: 0 15px;
  }
  
  @media (min-width: 768px) {
    .h-md-100 {
      height: 100vh;
    }
  }
  
  .bg-orange {
    background-color: #484c55;
    // opacity: .2;
    border-right: solid rgb(242, 105, 37) 4px;
  }

  .bg-body {
    background-image: url("/assets/imgs/rec_hero_image.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .div-drawer {
    color: black;
    background-color: white;
    opacity: 0.85;
    width: 80%;
    overflow-y: auto;
    height: auto;
    padding: inherit;
  }
  
  .add-complex-highlight {
    cursor: pointer;
    text-decoration-line: underline !important;
    color: #fb752c !important;
    font-variant: small-caps;
  }
  
//   .card-drawer {
//     width: 100%;
//   }
  
  #current-complexes {
      width: 100%;
  }
  
  #current-complexes ul {
      list-style: none;
      padding: 20px;
      background-color: white;
      width: 80%;
      min-height: 100%;
      margin: auto;
      border-radius: 10px;
  }

  #view-header {
      background-color: #484c55;
  }

  mat-list-item {
      border: solid black 1px;
      border-radius: 6px;
  }

  #add-btn:hover {
    background-color: rgb(209, 206, 206);
  }

  mat-card-actions button {
    border-bottom: solid #fb752c 2px;
  }

  mat-card-actions button:hover {
    background-color: #fb752c;
    color: white;
  }
  
  
  