<mdb-carousel [isControls]="false">
  <mdb-carousel-item>
    <section class="view carousel-inner" id="HomeSlide1">
    </section>    
    <section class="slide-caption">
        <h3>Revature Housing</h3>
        <hr id="divider">
        <p class="banner-caption">
        With the Revature Housing App, you are able to register and manage qualified housing so that it is available to
        Revature trainees. To see a current list of the nationwide Revature training sites,
        </p>
        <button routerLink="" class="a-highlight account">Register Now</button>
        <h5><span id="trnCenter">Arlington,TX</span><span id="trnRevature">Revature</span></h5>
    </section>
  </mdb-carousel-item>
  <mdb-carousel-item> 
    <section class="view carousel-inner" id="HomeSlide2">
    </section>    
    <section class="slide-caption">
        <h3>Revature Housing</h3>
        <hr id="divider">
        <p class="banner-caption">
        With the Revature Housing App, you are able to register and manage qualified housing so that it is available to
        Revature trainees. To see a current list of the nationwide Revature training sites,
        </p>
        <button routerLink="" >Register Now</button>
        <h5><span id="trnCenter">Arlington,TX</span><span id="trnRevature">Revature</span></h5>
    </section>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <section class="view carousel-inner" id="HomeSlide3">
    </section>    
    <section class="slide-caption">
        <h3>Revature Housing</h3>
        <hr id="divider">
        <p class="banner-caption">
        With the Revature Housing App, you are able to register and manage qualified housing so that it is available to
        Revature trainees. To see a current list of the nationwide Revature training sites,
        </p>
        <button routerLink="" >Register Now</button>
        <h5><span id="trnCenter">Arlington,TX</span><span id="trnRevature">Revature</span></h5>
    </section>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <section class="view carousel-inner" id="HomeSlide4">
    </section>    
    <section class="slide-caption">
        <h3>Revature Housing</h3>
        <hr id="divider">
        <p class="banner-caption">
        With the Revature Housing App, you are able to register and manage qualified housing so that it is available to
        Revature trainees. To see a current list of the nationwide Revature training sites,
        </p>
        <button routerLink="" >Register Now</button>
        <h5><span id="trnCenter">Arlington,TX</span><span id="trnRevature">Revature</span></h5>
    </section>
  </mdb-carousel-item> -->
</mdb-carousel>
