.hide
{
    display: none;
} 

#dashboard-nav-wrapper
{
    position: fixed;
    float:right;
    z-index: 1;
    top: 9vh;
    left: 0;
    background: rgb(38, 58, 58);
    color: white;
    width: 15.5%;
    min-height: 100vh;
    z-index: -1;
} 

#dropdown-container
{
   background: rgb(92, 91, 91);
}

#dropdown-container a
{
    padding-left: 70px; 
}

.active
{
    background:#fb752c;
}

.drop-active{
   background: rgb(24, 37, 37);
} 

.fa-caret-down
{
    float: right;
    padding-right: 15px;
}

.dashboard-nav-item
{
    padding: 10%;  
    display: block;
    color: white;
}

.dashboard-nav-item:hover
{
   text-decoration: none;
   background: rgb(24, 37, 37);
   cursor: pointer;
}
 
#dashboard-display
{
    position: relative;
    top: 9vh;
    float:right;
    min-height: 90vh;
    width: 85%;
    max-width: 85%;
    z-index: -2;
}
