<div id="dashboard-nav-wrapper">
    <nav  *ngIf="role === 'Provider'">
        <a class="dashboard-nav-item" (click)="collapseDropdown()" routerLink="./edit-provider" routerLinkActive="active">Profile</a>    
        <a class="dashboard-nav-item" (click)="collapseDropdown()"  routerLink="./provider-status" routerLinkActive="active">Status</a>
        <!--button that triggers dropdown-->
        <span (click)="toggleDropdown()" class="dash-dropbutton" routerLinkActive="da" [routerLinkActiveOptions]="{exact: true}">
            <span>Complexes <i class="fa fa-caret-down"></i></span>
            <div class="dropdown-container hide">
                <a class="dashboard-nav-item drop-item"  routerLink="./manage-complex" routerLinkActive="active">Manage</a>
                <a class="dashboard-nav-item drop-item"  routerLink="./add-complex" routerLinkActive="active">Add</a>
            </div>
        </span>
    </nav>

    <nav *ngIf="role === 'Coordinator'">
        <a class="dashboard-nav-item" (click)="collapseDropdown()" routerLink="./coordinator-notifications" routerLinkActive="active">Notifications</a>
        <a class="dashboard-nav-item" (click)="collapseDropdown()" routerLink="./manage-complex" routerLinkActive="active">View Complexes</a>
        <!-- //item that triggers dropdown-->
        <span (click)="toggleDropdown()" class="dash-dropbutton" routerLinkActive="da" [routerLinkActiveOptions]="{exact: true}">
            <span>Manage Tenants<i class="fa fa-caret-down"></i></span>
           
            <div class="dropdown-container hide">
                <a class="dashboard-nav-item drop-item" routerLink="./add-tenant"  routerLinkActive="active">Add Tenant</a>
                <a class="dashboard-nav-item drop-item" routerLink="./search-tenant" routerLinkActive="active">Search</a>
                <a class="dashboard-nav-item drop-item" routerLink="./assign-tenant-to-room" routerLinkActive="active">Assign Tenant</a>
            </div>
        </span>
    </nav>

    <nav *ngIf="role === 'Tenant'">
        <a class="dashboard-nav-item" routerLink="./tenant-profile" routerLinkActive="active">Profile</a>
        <a class="dashboard-nav-item" routerLink="./tenant-maintenance" routerLinkActive="active">Maintenance</a>
        <a class="dashboard-nav-item" routerLink="./view-room" routerLinkActive="active">Room</a>
    </nav>
</div>

<div id="dashboard-display"> 
    <router-outlet></router-outlet>
</div> 
