<div class="horizontal-center vertical-center">
    <div class="jumbotron" style="background-color:rgb(247, 101, 3);">
        <h2 *ngIf="viewMode == 'tenant'" style="text-align:center;color:white;">My Profile</h2>
        <h2 *ngIf="viewMode == 'cAdd'" style="text-align:center;color:white;">Add Tenant</h2>
        <h2 *ngIf="(viewMode != 'tenant' && viewMode != 'cAdd')" style="text-align:center;color:white;">{{tenantInfo.firstName+" "+tenantInfo.lastName}}</h2>
    <mat-card>
        <mat-card-content>
            <mat-horizontal-stepper>
                <mat-step>
                    <ng-template matStepLabel> 
                        <span>GENERAL</span> 
                    </ng-template>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>First Name&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.firstName" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Last Name&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.lastName" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr *ngIf="editMode()">
                                <td><strong>Gender&emsp;</strong></td>
                                <td><mat-form-field class="col-md-12">
                                    <mat-label>{{genderShowString}}</mat-label>
                                    <mat-select [(ngModel)]="tenantInfo.gender">
                                      <mat-option *ngFor="let gender of genders" [value]="gender">
                                        {{ gender }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field></td>
                            </tr><br/>
                            <tr *ngIf="!editMode()">
                                <td><strong>Gender&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.gender}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Email&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.email" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="editMode()">
                        <button mat-button (click)="cancel()">Cancel</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> 
                        <span>ADDRESS</span> 
                    </ng-template>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Street Address&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiAddress.street" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>City&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiAddress.city" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>State&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiAddress.state" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>ZipCode&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiAddress.zipCode" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Country&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiAddress.country" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr>
                            <!--<div *ngIf="tenantInfo.tenantAddress.country == 'USA'">
                                <br/>
                            </div>
                            <tr *ngIf="tenantInfo.tenantAddress.country == 'USA'">
                                <td><strong>State&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.tenantAddress.state" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr>
                            <div *ngIf="tenantInfo.tenantAddress.country == 'USA'">
                                <br/>
                            </div>
                            <tr *ngIf="tenantInfo.tenantAddress.country == 'USA'">
                                <td><strong>ZIP&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.tenantAddress.zipCode" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr>-->
                        </tbody>
                    </table>
                    <div *ngIf="editMode()">
                        <button mat-button (click)="cancel()">Cancel</button>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step *ngIf="tenantInfo.apiBatch">
                    <ng-template matStepLabel> 
                        <span>BATCH</span> 
                    </ng-template>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr *ngIf="editMode()">
                                <td><strong>Curriculum&emsp;</strong></td>
                                <td><mat-form-field class="col-md-12">
                                    <mat-label>{{batchShowString}}</mat-label>
                                    <mat-select [(ngModel)]="tenantInfo.apiBatch.batchCurriculum">
                                      <mat-option *ngFor="let batch of batchList" [value]="batch.batchCurriculum">
                                        {{ batch.batchCurriculum }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field></td>
                            </tr><br/>
                            <tr *ngIf="!editMode()">
                                <td><strong>Curriculum&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.apiBatch.batchCurriculum}}" readonly/></td>
                            </tr><br/>
                            <tr *ngIf="editMode()">
                                <td><strong>Started On&emsp;</strong></td>
                                <td><mat-form-field>
                                    <input matInput id="startDate" name="startDate" [matDatepicker]="startDatePicker"
                                      [(ngModel)]="tenantInfo.apiBatch.startDate" #startDate="ngModel" class="form-control"
                                      placeholder="Batch Start Date" aria-describedby="startDate" required />
                                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #startDatePicker [startAt]="startDate"></mat-datepicker>
                                  </mat-form-field></td>
                            </tr><br/>
                            <tr *ngIf="!editMode()">
                                <td><strong>Started On&emsp;</strong></td>
                                <td><input type="text" value="{{ tenantInfo.apiBatch.startDate | date}}" readonly/></td>
                            </tr><br/>
                            <tr *ngIf="editMode()">
                                <td><strong>Started On&emsp;</strong></td>
                                <td><mat-form-field>
                                    <input matInput id="endDate" name="endDate" [matDatepicker]="endDatePicker"
                                      [(ngModel)]="tenantInfo.apiBatch.endDate" #endDate="ngModel" class="form-control"
                                      placeholder="Batch end Date" aria-describedby="endDate" required />
                                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #endDatePicker [startAt]="tenantInfo.apiBatch.startDate"></mat-datepicker>
                                  </mat-form-field></td>
                            </tr><br/>
                            <tr *ngIf="!editMode()">
                                <td><strong>Ends On&emsp;</strong></td>
                                <td><input type="text" value="{{ tenantInfo.apiBatch.endDate | date}}" readonly/></td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="editMode()">
                        <button mat-button (click)="cancel()">Cancel</button>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step *ngIf="tenantInfo.apiCar || editMode()">
                    <ng-template matStepLabel> 
                        <span>CAR</span> 
                    </ng-template>
                    <table *ngIf="tenantInfo.apiCar">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Make&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiCar.make" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Model&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiCar.model" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Color&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiCar.color" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Year&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiCar.year" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>State&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiCar.state" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>License Plate&emsp;</strong></td>
                                <td><input type="text" [(ngModel)]="tenantInfo.apiCar.licensePlate" [readonly]="!editMode()" [class.tenantReadOnly]="!editMode()"/></td>
                            </tr>
                        </tbody>
                    </table>
                    <button mat-button *ngIf="!tenantInfo.apiCar" (click)="addCar()">Add Car</button>
                    <button mat-button *ngIf="tenantInfo.apiCar" (click)="removeCar()">Remove Car</button>
                    <div *ngIf="editMode()">
                        <button mat-button (click)="cancel()">Cancel</button>
                        <button mat-button matStepperPrevious>Back</button>
                        <button *ngIf="viewMode == 'cEdit'" mat-button id="putAddTenant" (click)="putTenantOnSubmit()">Submit</button>
                        <button *ngIf="viewMode == 'cAdd'" mat-button id="postAddTenant" (click)="postTenantOnSubmit()">Submit</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            <button mat-button *ngIf="viewMode == 'cView'" (click)="edit()">Edit</button>
            <button mat-button *ngIf="viewMode == 'cView'" (click)="delete()">Delete</button>
        </mat-card-content>
      </mat-card>
    </div>
    </div>