<div class="horizontal-center vertical-center">
    <div class="jumbotron" style="background-color:rgb(247, 101, 3);">
        <h2 style="text-align:center;color:white;">My Profile</h2>
    <mat-card>
        <mat-card-content>
            <mat-horizontal-stepper>
                <mat-step>
                    <ng-template matStepLabel> 
                        <span>GENERAL</span> 
                    </ng-template>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>First Name&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.firstName}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Last Name&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.lastName}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Gender&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.gender}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Email&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.email}}" readonly/></td>
                            </tr>
                        </tbody>
                    </table>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> 
                        <span>ADDRESS</span> 
                    </ng-template>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Country&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.tenantAddress.country}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Street Address&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.tenantAddress.street}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>City&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.tenantAddress.city}}" readonly/></td>
                            </tr>
                            <div *ngIf="tenantInfo.tenantAddress.country == 'USA'">
                                <br/>
                            </div>
                            <tr *ngIf="tenantInfo.tenantAddress.country == 'USA'">
                                <td><strong>State&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.tenantAddress.state}}" readonly/></td>
                            </tr>
                            <div *ngIf="tenantInfo.tenantAddress.country == 'USA'">
                                <br/>
                            </div>
                            <tr *ngIf="tenantInfo.tenantAddress.country == 'USA'">
                                <td><strong>ZIP&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.tenantAddress.zipCode}}" readonly/></td>
                            </tr>
                        </tbody>
                    </table>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> 
                        <span>BATCH</span> 
                    </ng-template>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Curriculum&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.batch.batchCurriculum}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Started On&emsp;</strong></td>
                                <td><input type="text" value="{{ getFullDate(true) }}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Ends On&emsp;</strong></td>
                                <td><input type="text" value="{{ getFullDate(false) }}" readonly/></td>
                            </tr>
                        </tbody>
                    </table>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel> 
                        <span>CAR</span> 
                    </ng-template>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Make&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.car.make}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Model&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.car.model}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Color&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.car.color}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>Year&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.car.year}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>State&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.car.state}}" readonly/></td>
                            </tr><br/>
                            <tr>
                                <td><strong>License Plate&emsp;</strong></td>
                                <td><input type="text" value="{{tenantInfo.car.licensePlate}}" readonly/></td>
                            </tr>
                        </tbody>
                    </table>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
      </mat-card>
    </div>
    </div>