<div class="about" style="height: max-content; max-height: 80%;">
  <mat-card style="background-color: lightgrey;">
    <mat-card-title><h1 class="display-5">Welcome to Revature Housing</h1></mat-card-title>
    <mat-card-content>
      <mat-tab-group >
        <mat-tab label="About"> 
          <mat-card class="text-center">
            <img src="https://dummyimage.com/1400x500/000/fff" alt="">
            <mat-card-content>
              <p class="h6">
                With the Revature Housing App, you are able to register and manage qualified housing so that it is available to Revature trainees.
              </p>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Training Locations">
            <mat-card>
                <mat-card-content>
                    <img src="https://dummyimage.com/1400x500/000/fff" alt="training Locations">
                </mat-card-content>
              </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>