<div class="about">
  <mat-card>
    <mat-card-title>Training Centers</mat-card-title>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="First"> 
          <mat-card>
            <mat-card-content>
                <img src="https://dummyimage.com/600x400/000/fff" alt="training location 1">
                <mat-card-subtitle>Center 1</mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Second">
            <mat-card>
                <mat-card-content>
                    <img src="https://dummyimage.com/600x400/000/fff" alt="training location 1">
                    <mat-card-subtitle>Center 2</mat-card-subtitle>
                </mat-card-content>
              </mat-card>
        </mat-tab>
        <mat-tab label="Third">
            <mat-card>
                <mat-card-content>
                    <img src="https://dummyimage.com/600x400/000/fff" alt="training location 1">
                    <mat-card-subtitle>Center 3</mat-card-subtitle>
                </mat-card-content>
              </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>